body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: blueviolet;
    padding: 30px;
    border-radius: 8px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    width: 300px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: rgb(138, 138, 225);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

#answerOptions label {
    display: block;
    margin: 10px 0;
}

#resultContainer {
    text-align: center;
}